{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block title %}
    Admin Login
{% endblock %}

{% block content %}
    <br/>
    <a class="btn btn-primary" href="{{url_for('user_bp.index')}}" role="button">Back to Start</a>
    <br/>
    <form method="post">

        {{ form.hidden_tag() }}

        {{ form.username(class='form-control', placeholder='Username') }}
        <br/>
        {{ form.password(class='form-control', placeholder='Password') }}
        <br/>
        {{ form.submit(class='btn btn-primary') }}

    </form>

{% endblock %}